/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

h1 {
  font-size: 25px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}

h3 {
  font-size: 20px;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
}

.login-wrapper {
  display: flex;
}

.unlocked {
  position: absolute;
  margin-top: 400px;
  margin-left: 220px;
  animation: slide-in-bottom 2.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes slide-in-bottom {
  0% {
    transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes unlocked {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.loader {
  margin-top: 15%;
  margin-left: 43%;
}

.marker-btn {
  border: none;
  background: none;
}

.img-btn {
  width: 20px;
  height: 20px;
  background-color: transparent;
}

.login-input {
  width: 300px;
  height: 50px;
  margin-bottom: 30px;
  box-shadow: 10px 10px 29px 0px rgba(0, 0, 0, 0.75);
  font-family: "Roboto", sans-serif;
}

.header {
  background: #87cefa;
  color: #6e8298;
  text-align: center;
  font-size: 3.5rem;
}

.subheader {
  background: #87cefa;
  color: #6e8298;
  text-align: center;
}

.login-img {
  height: 600px;
  background-image: url(https://sad-meitner-63407f.netlify.com/img/heading-bg.png);
}

.login-text {
  color: #6e8298;
  font-size: 2.8rem;
  margin-bottom: 20px;
  padding: 5px;
  text-align: center;
  width: 300px;

  color: #6e8298;
  background-color: #87cefa;
  border-radius: 10px;
  box-shadow: 10px 10px 29px 0px rgba(0, 0, 0, 0.75);
}

.login-text h1 {
  text-shadow: 10px 10px 29px 0px rgba(0, 0, 0, 0.75);
}

.login-btn {
  box-shadow: 10px 10px 29px 0px rgba(0, 0, 0, 0.75);
  background-color: #87cefa;
  color: #6e8298;
}

.login {
  /* margin-top: 300px; */
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  background-size: cover;
  align-items: center;
  align-self: center;
}

.card {
  /* height: 5px; */
  margin-bottom: -30px;

  background: none;
  border: none;
  box-shadow: 10px 10px 29px 0px rgba(0, 0, 0, 0.75);
}
